@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap';
@import '@Styles/variables';
@import '@Styles/mixins';

* {
  box-sizing: border-box;
  font-family: $font-main;
}

#root {
  display: flex;
  justify-content: center;
  padding: 32px;
}

input,
button,
select {
  width: 100%;
  height: 56px;
  padding: $controls-padding;
  border: 2px solid $primary-gray-color;
  border-radius: $border-radius-small;

  @include devices(tablet) {
    font-size: $font-size-small;
  }
}

input::placeholder {
  color: $primary-gray-color;
}

button {
  width: 100%;
  padding: $controls-padding;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: $primary-color;
  border: 0;
  border-radius: $border-radius-small;
  outline: 0;

  @include devices(tablet) {
    height: auto;
  }

  &.secondary {
    color: $primary-color;
    background-color: $secondary-color;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

span {
  margin: 12px 0;
}
