/* Font */
$font-main: 'Roboto', sans-serif;

$font-weight-bold: 800;
$font-weight-semibold: 600;
$font-weight-medium: 400;

$font-size-large: 24px;
$font-size-medium: 16px;

/* Spacing */
$card-padding: 52px; 
$card-section: 24px;
$controls-padding: 18px;

/* Colors */
$primary-color: #34394F;
$secondary-color: #F5F6F8;
$primary-gray-color: #C4C4C4;

/* Border radius */
$border-radius-medium: 12px;
$border-radius-small: 6px;

/* Shadow */
$default-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

