@import '@Styles/variables';
@import '@Styles/mixins';

.select {
  position: relative;
  width: 100%;
  height: 56px;
  margin-bottom: 20px;
  border-radius: $border-radius-small;
  outline: 0;

  @include devices(tablet) {
    height: 40px;
    font-size: $font-size-small;
  }

  &__chevron {
    position: absolute;
    top: 35%;
    right: 25px;

    @include devices(tablet) {
      top: 25%;
    }
  }

  .select {
    &__option {
      position: absolute;
      top: 38px;
      z-index: 2;
      display: none;
      width: 100%;
      overflow: hidden;
      background-color: #fff;

      div {
        padding: $controls-padding;
        margin: 0 5px;
        cursor: pointer;

        &:hover {
          font-weight: 500;
          background-color: $secondary-gray-color;
        }
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid $primary-gray-color;
    border-radius: $border-radius-small;
    outline: 0;

    @include devices(tablet) {
      font-size: $font-size-small;
    }
  }

  &.select {
    &--active {
      input {
        border-bottom: 0;
        border-radius: $border-radius-small;
        border-end-start-radius: 0;
        border-end-end-radius: 0;
      }

      .select {
        &__option {
          display: block;
          padding: 6px 0;
          border: 2px solid $primary-gray-color;
          border-top: 0;
          border-radius: 0 0 $border-radius-small $border-radius-small;

          div {
            border-radius: $border-radius-small;
          }
        }
      }
    }
  }

  &.checked {
    input {
      border: 2px solid black;
    }

    &.select {
      &--active {
        input {
          border: 2px solid $primary-gray-color;
        }
      }
    }
  }
}
